.movie-card {
    background-color: black;
    margin: 35px;
    padding:5px;

  }
  h2{
    color: white;
    font-size: 15px;
  }
  .movie-img {
    background-size: cover;
    height: 50vh;
    background-repeat: no-repeat;
    width: 25vw;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    overflow-x: scroll;
  }