.movie-card {
    background-color: black;
    margin: 15px;
    height: 45vh;
    width: 40vh;
    height: fit-content

  }
  h2{
    color: white;
    font-size: 15px;
  }
  .movie-img {
    background-size: cover;
    height: 60vh;
    background-repeat: no-repeat;
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
  }

  .heart-container {
    float: right;
    margin-top: -100px;
    margin-right: 50px;
  }
  