.movie-card {
    background-color: black;
    margin: 15px;
    height: 50vh;
    width: 40vh;
  }
  h2{
    color: white;
    font-size: 15px;
  }
  .movie-img {
    background-size: cover;
    height: 40vh;
    background-repeat: no-repeat;
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
  }