.movie-show-page {
    padding: 1vw;
    background: #0E0F11;
    display: flex;
    width: 100%;
    align-items: center;
    color: white;
    height: 100vh;
}

  .movie-info-container {
    display: flex;
  }

  .movie-poster {
    height: 80vh;
    width: 40%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
  }

  .movie-details {
      display: flex;
      flex-direction: row;
      justify-content: center;
  }

  h1{
    font-size: 30px;
  }

  h2{
      margin: 5px;
  }
  
  .movie-detail-container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .plot-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  p{
    margin-right: 50px;
  }

  .top-movie-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
 

