.movie-show-page {
    background-color: #bdbdbdad;
    margin: auto;
    text-align: center;
    padding: 1vw;
    background: #0E0F11;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    color: white;
    height: 100vh;
}

  .movie-info-container {
    display: flex;
  }

  .movie-poster {
    height: 80vh;
    width: 20%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .movie-details {
      display: flex;
      flex-direction: row;
  }

  h2{
      margin: 5px;
  }
