.movie-show-page {
    background-color: #bdbdbdad;
    margin: auto;
    text-align: center;
    padding: 1vw;
    background: #0E0F11;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    color: white;
    height: 100vh;
}

  .movie-info-container {
    display: flex;
  }

  .movie-poster {
    height: 70vh;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }